{% extends 'layouts/email.html.twig' %}

{% block subject 'Réinitialiser votre mot de passe' %}

{% block body_html %}

    <p class="align-justify">Bonjour,</p>

    <p class="align-justify">Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

    <p class="align-justify">
        <a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>
    </p>

    <p class="align-justify">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</p>

    <p class="align-justify">À bientôt.</p>

{% endblock %}

{% block body_txt %}
Bonjour,

Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant

{{ url('reset_password', {token: resetToken.token}) }}

Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}

À bientôt.
{% endblock %}
